# macOS 系统文件
.DS_Store

# IDE/编辑器目录
.idea/

# Python 缓存文件
__pycache__/
*.py[cod]
*~

# .ok 相关文件
.ok_consent
.ok_context
.ok_disabled
.ok_history
.ok_messages
.ok_storage.db

# vscode相关配置文件
.vscode/

node_modules/

cs336/assignment/assignment1-basics/data/
**/.venv/
cs336/assignment/assignment1-basics/cs336_basics.egg-info
